<body>
        <nav class="navbar">
            <button
        class="navbar-toggler"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-item">
          <ul>
          <a class="nav-Hame" href="/">Home</a>
          <a class="nav-item" href="/beers">Beers</a>
          <a class="nav-item" href="/Random-Beer">Random Beer</a>
          </ul>
        </div>
      </div>
    </nav>
        {{{ body }}}
    <footer>
        Developed by Khalil
    </footer>
</body>
